<h1 class="title">Last Report</h1>

<p id="p2">{{post.lastReport}}</p>

<button onclick="copyToClipboard('#p2')">Copy report</button>
<a href="./">Home</a>
<!-- TODO extract to separate file -->
<script>
  function copyToClipboard(element) {
    var $temp = $("<input>");
    $("body").append($temp);
    $temp.val($(element).text()).select();
    document.execCommand("copy");
    $temp.remove();
  }
</script>
