<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Report</title>
    <!-- TODO: have css file -->
    <style>
    ul {
      list-style-type: none;
    }
    ul li{
      display: inline;
    }
    </style>
</head>

<body>
    <div class="container">
        {{{body}}}
    </div>
</body>
</html>
